<div class="Searchbar py-3 py-sm-2 bg-light">
  <div class="container">
      <form (submit)="handleSubmit( $event )">
      <div class="row justify-content-sm-center">
        <div class="col col-md-8">
          <div class="input-group">
            <input
              type="search"
              class="form-control"
              [formControl]="searchControl"
            />
            <span class="input-group-btn">
              <input class="btn btn-primary" type="submit" value="Search"/>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
